In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
pd.__version__

'0.20.1'

In [120]:
%run 'movies.ipynb'
%run 'tags.ipynb'
%run 'ratings.ipynb'

Tags = getTags()
allMovies = getMovies()
Ratings = getRatings()

verbose ==> False

In [123]:
allMovies.sample(2).head()

,film-noir,drama,dra,crime,sci-fi,title,movieId,horror,imax,thriller,war,romancecioccolata,mystery,western,romance,action,children,fantasy,documentary,year,comedy,musical,adventure,animation
300,0,0,0,0,0,Underneath (1995),335,0,0,1,0,0,1,0,0,0,0,0,0,1995,0,0,0,0
135,0,1,0,0,0,Blue in the Face (1995),156,0,0,0,0,0,0,0,0,0,0,0,0,1995,1,0,0,0

In [124]:
scaled_movies = scale_year(allMovies)
sim_from, sim_to = get_source_and_target_movies(allMovies=scaled_movies)
movie_name = allMovies[allMovies['title'] == sim_to.index.values[0]].movieId.values[0]
print('You want to find movies similar to <<%s>> with id << %s >>' % (movie_name, sim_to.index.values[0]))

You want to find movies similar to <<492>> with id << Manhattan Murder Mystery (1993) >>

In [125]:
sim_to.head()

,film-noir,drama,dra,crime,sci-fi,horror,imax,thriller,war,romancecioccolata,mystery,western,romance,action,children,fantasy,documentary,year,comedy,musical,adventure,animation
title,,,,,,,,,,,,,,,,,,,,,,
Manhattan Murder Mystery (1993),0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,-32.8144,1,0,0,0

In [126]:
%run 'rec_engine_content_based_non_personalized.ipynb'

similar_movies = find_similar_movies(sim_to=sim_to, sim_from=sim_from);

SyntaxError: unexpected EOF while parsing (<ipython-input-126-a7c98ba6f2e4>, line 1)

In [119]:
sim_df = pd.DataFrame(data=similar_movies, columns=['title', 'sim_index'])
sim_df = sim_df.sort_values(by=['sim_index'], ascending=False)
sim_df['title'].head(10)

341                  Speed (1994)
373             Blown Away (1994)
199              Drop Zone (1994)
340        River Wild, The (1994)
90                Shopping (1994)
356                 Mirage (1995)
83            Nick of Time (1995)
422    In the Line of Fire (1993)
344              True Lies (1994)
408           Getaway, The (1994)
Name: title, dtype: object